.main__section1 {
}
.main__section1--movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.625rem;
  grid-gap: 1.25rem;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.main__section1--movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  border: solid rgb(4, 36, 46) 0.063rem;
  padding: 0.625rem;
}
